body{
    margin: 0 auto;
}

.all_container {
    height: 100%;
    width: 100%;
}

.hero {
    position: relative;
    margin-bottom: 20px;
}
.hero img {
    width: 100%
}
.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 2em;
}
.hero h2 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,100%);
    -webkit-transform: translate(-50%,100%);
    transform: translate(-50%,100%);
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 1.1em;
}
.hero #char_red {
    color: #C70A34;
}
.hero #char_yellow {
    color: #FFC40E;
}
.hero #char_blue {
    color: #0099F7;
}
.wrapper{
    width: 1140px;
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-content: center;
}
.items {
    margin: 5px 5px 20px 5px;
}
.card {
    position: relative;
    overflow: hidden;
    min-height: 300px;
    border-radius: 1px;
    -webkit-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
}
.card .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #E3E2E2;
    text-align: center;
    transition: 0.5s;
}

.card .title h2 {
    font-size: 16px;
    color: #ffffff;
    margin: 4px 0 0 0;
}

.card a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.card-red {
    background: url(../img/colors/red.jpg) bottom/cover no-repeat;
}
.card-red:hover .title {
    background-color: red;
}
.card-yellow {
    background: url(../img/colors/yellow.jpg) center/cover no-repeat;
}
.card-yellow:hover .title {
    background-color: #f9d81f;
}
.card-blue {
    background: url(../img/colors/blue.jpg) top/cover no-repeat;
}
.card-blue:hover .title {
    background-color: #0d66f9;
}
.card-green {
    background: url(../img/colors/green.jpg) top/cover no-repeat;
}
.card-green:hover .title {
    background-color: #84bc7b;
}
.card-white {
    background: url(../img/colors/white.jpg) top/cover no-repeat;
}
.card-white:hover .title {
    background-color: #ffffff;
}
.card-white:hover .title h2{
    color: #000000;
}
.card-black {
    background: url(../img/colors/black.jpg) bottom/cover no-repeat;
}
.card-black:hover .title {
    background-color: #000000;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .hero h1 {
        /* -ms-transform: translate(-50%,-20%);
        -webkit-transform: translate(-50%,-20%);
        transform: translate(-50%,-20%); */
        font-size: 1.5em;
    }
    .hero h2 {
        -ms-transform: translate(-50%,50%);
        -webkit-transform: translate(-50%,50%);
        transform: translate(-50%,50%);
        font-size: 1em;
    }
}`
